@model IEnumerable<WebAppProyecto.Models.Empleado>

@{
    ViewData["Title"] = "Listado de Empleados";
}
<div class="main-conteiner">
    <br>
    <h1 class="title-section">Listado de Empleados</h1>
    <br>
    <p>
        <a class="btn-controller-all btn-color_blue " asp-action="Create">Nuevo Empleado</a>
    </p>
    <br>
    <div class="table">
        <thead>
            <div class="trindex">
                <div class="thindex">
                    @Html.DisplayNameFor(model => model.Nombre)
                </div>
                <div class="thindex">
                    @Html.DisplayNameFor(model => model.APaterno)
               </div>
                <div class="thindex">
                    @Html.DisplayNameFor(model => model.AMaterno)
                </div>
                <div class="thindex">
                    @Html.DisplayNameFor(model => model.Telefono)
               </div>
                <div class="thindex">
                    @Html.DisplayNameFor(model => model.FechaNacimiento)
                </div>
                <div class="thindex">
                    @Html.DisplayNameFor(model => model.Direccion)
                </div>
                <div class="thindex">
                    @Html.DisplayNameFor(model => model.Correo)
                </div>
                @* <th></th> *@
            </div>
        </thead>
        <div class="tbodyindex">
            @foreach (var item in Model)
            {
                <div class="trindex">
                    <div class="tdindex">
                        @Html.DisplayFor(modelItem => item.Nombre)
                    </div>
                    <div class="tdindex">
                        @Html.DisplayFor(modelItem => item.APaterno)
                    </div>
                    <div class="tdindex">
                        @Html.DisplayFor(modelItem => item.AMaterno)
                    </div>
                    <div class="tdindex">
                        @Html.DisplayFor(modelItem => item.Telefono)
                    </div>
                    <div class="tdindex">
                        @Html.DisplayFor(modelItem => item.FechaNacimiento)
                    </div>
                   
                    <div class="tdindex">
                        @Html.DisplayFor(modelItem => item.Direccion)
                    </div>
                    <div class="tdindex">
                        @Html.DisplayFor(modelItem => item.Correo)
                    </div>
                    <div class="tdindex">
                        <a class="btn-controller-all btn-color_blue" asp-action="Edit" asp-route-id="@item.IdEmpleado">Editar</a> |
                        <a class="btn-controller-all btn-color_green" asp-action="Details" asp-route-id="@item.IdEmpleado">Detalle</a> |
                        <a class="btn-controller-all btn-color_red" asp-action="Delete" asp-route-id="@item.IdEmpleado">Eliminar</a>
                    </div>
                </div>
            }
        </div>
    </div>
</div>
