<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - WebAppProyecto</title>
    <link rel="stylesheet" href="~/css/style.css" />
    <link rel="stylesheet" href="~/Icoon/Fontsss/style.css" />
</head>
<body id="body">
    <div class="darkmode darkmodenone" id="darkmode"></div>
    <header class="arriba" id="headarriba">
        <div class="arriba-grid">
            <div class="grid-box">

            </div>
            <div class="grid-box">

            </div>
            <div class="grid-box grid-box-info-login">
                <div class="grid-box-login">
                    <!-- @DateTime.Now.ToString(); -->
                </div>
                <div class="grid-box-login">
                    <div class="login-newspaper" id="loginnewspaper">
                        <i class="icon-newspaper iconnewspaperclass"></i>
                    </div>
                    @* <div class="contentgrid-box-login"></div> *@
                </div>
                <div class="grid-box-login">
                    <div class="cirlce-login" id="logincircle">
                        <img src="~/img/user.png">
                    </div>
                </div>
            </div>
        </div>
    </header>
    <div class="windowsuserlogin closeuserlogin" id="windowsuserlogin">
        <div class="icon-x">
            <i class="icon-cross sizetres" id="iconcross"></i>
        </div>
        <div class="icon-login-window">
            <div class="cirlce-login-window">
                <img src="~/img/user.png" />
            </div>
            <p class="name-user">Hola Alex!</p>
        </div>
        <div class="info-login-windows-A">
            <div class="info-login-windows-A-box">
                <i class="icon-user zizecuatroicon usericon"></i>
                <p>Apacheco</p>
            </div>
            <div class="info-login-windows-A-box">
                <i class="icon-earth zizecuatroicon"></i>
                <p>alain.floresimpulsaasesores.mx</p>
            </div>
        </div>
        <hr>
        <div class="boton-menu-windo-B">
            <div class="windo-B-b">
                <div class="windo-B-b-h openwindowsprofile">
                    <i class="icon-user icon-desg_B" id="openwindowsprofile"></i>
                </div>

                <p>Perfil</p>
            </div>
            <div class="windo-B-b">
                <div class="windo-B-b-h">
                    <i class="icon-lifebuoy icon-desg_B"></i>
                </div>
                <p>Soporte</p>
            </div>
            <div class="windo-B-b">
                <div class="windo-B-b-h">
                    <i class="icon-exit icon-desg_B"></i>
                </div>
                <p>Salir</p>
            </div>
        </div>
    </div>
    @* darkmodeopen *@
    <div class="popupporfile popupporfilenone" id="popupporfile">
        <div class="closeprofile"><i class=" icon-cross closeprofile-x" id="closeprofilex"></i></div>
        <h3 class="h3porfile">Perfil de Usuario</h3>
        <form class="formporfile">
            <label class="nombreporfile">
                Nombre:
            </label>
            <input class="inputporfile" type="text" placeholder="Jhonny" />
        </form>
        <form class="pictureporfile formporfile">
            <label class="nombreporfile">Imagen:</label>
            <div class="containerpicture">
                <div class="a">
                    <div class="img-a">
                        <img src="~/img/user.png" />
                    </div>
                </div>
                <div class="a">
                    <input class="inputporfileimagebutton" type="submit" value="Haga clic aquí para subir su archivo" />
                </div>
            </div>
            <div class="pictureporfile-button">
                <button class="btn-up-profile">Listo</button>
            </div>
        </form>
    </div>
    <header class="izquierda" style="z-index:99">
        <nav class="izquierdanav" style="z-index:99">
            <ul class="ul" style="z-index: 99">

                <!--Home-->
                <li class="li-menu" id="animationhover">
                    <i class="icon-home3 icoon-size" id="homewindow"></i>
                    @Html.ActionLink(" ", "Index", "Home", null, new { @class = "nonele" })
                    <span class="liunohover" id="liunohover">Inicio</span>
                </li>

                <!--Fin Home-->
                <!--Ventas-->
                <li class="li-menu" id="animationhoverdos">
                    <i class=" icon-cart icoon-size" id="openwindows"></i>
                    <span class="liunohoverdos" id="liunohoverdos">Ventas</span>
                </li>

                <ul class="submenu cerrar" id="submenu" style="z-index:-10">
                    <div class="return">
                        <div class="return-ico" id="closewindow"><i class="icon-circle-up icoon-sizedos"></i></div>
                    </div>
                    <li class="li_submenu">@Html.ActionLink("Ventas", "Index", "Ventas", null, new { @class = "linkmenu" })<i class="icon-credit-card icoon-sizetres box"></i></li>
                    <li class="li_submenu">@Html.ActionLink("Corte", "Index", "CorteCaja", null, new { @class = "linkmenu" })<i class="icon-stats-bars icoon-sizetres box"></i></li>
                    <li class="li_submenu">@Html.ActionLink("Devolucion", "Index", "Devolucion", null, new { @class = "linkmenu" })<i class="icon-loop icoon-sizetres box"></i></li>
                    <li class="li_submenu">@Html.ActionLink("Garantia", "Index", "Garantia", null, new { @class = "linkmenu" })<i class="icon-fire icoon-sizetres box"></i></li>
                </ul>
                <!--termina ventas-->
                <!--Inventario-->
                <li class="li-menu" id="animationhovertres">
                    <i class="icon-truck icoon-size" id="openwindowsdos"></i>
                    <span class="liunohovertres" id="liunohovertres">Inventario</span>
                </li>


                <ul class="submenudos cerrar" id="submenudos" style="z-index:-10">
                    <div class="return">
                        <div class="return-ico" id="closewindowdos"><i class="icon-circle-up icoon-sizedos"></i></div>
                    </div>
                    <li class="li_submenu">@Html.ActionLink("Producto", "Index", "Ejemplo", null, new { @class = "linkmenu" })<i class="icon-credit-card icoon-sizetres box"></i></li>
                    <li class="li_submenu">@Html.ActionLink("Marca", "Index", "Ejemplo", null, new { @class = "linkmenu" })<i class="icon-stats-bars icoon-sizetres box"></i></li>
                    <li class="li_submenu">@Html.ActionLink("Ejemplo", "Index", "Ejemplo", null, new { @class = "linkmenu" })<i class="icon-loop icoon-sizetres box"></i></li>
                    <li class="li_submenu">@Html.ActionLink("Ejemplo 2", "Index", "Ejemplo", null, new { @class = "linkmenu" })<i class="icon-fire icoon-sizetres box"></i></li>
                </ul>
                <!--Termina Inventario-->
                <!--Compras-->
                <li class="li-menu" id="animationhovercuatro">
                    <i class="icon-briefcase icoon-size" id="openwindowcuatro"></i>
                    <span class="liunohovercuatro" id="liunohovercuatro">Compras</span>
                </li>


                <!--Proveedor-->
                <li class="li-menu" id="animationhovercinco">
                    <i class="icon-user-tie icoon-size" id="openwindowscinco"></i>
                    <span class="liunohovercinco" id="liunohovercinco">Proveedores</span>
                </li>
                <!--Fin Proveedor-->
                <!--Cliente-->
                <li class="li-menu" id="animationhoverseis">
                    <i class="icon-users icoon-size" id="openwindowsseis"></i>
                    <span class="liunohoverseis" id="liunohoverseis">Clientes</span>
                </li>
                <!--Fin Cliente-->
                <!--Empleado-->
                <li class="li-menu" id="animationhoversiete">
                    <i class="icon-man icoon-size" id="openwindowssiete"></i>
                    <span class="liunohoversiete" id="liunohoversiete">Empleados</span>
                </li>

                <ul class="submenusiete cerrar" id="submenusiete" style="z-index:-10">
                    <div class="return">
                        <div class="return-ico" id="closewindowsiete"><i class="icon-circle-up icoon-sizedos"></i></div>
                    </div>
                    <li class="li_submenu">@Html.ActionLink("Empleados", "Index", "Empleados", null, new { @class = "linkmenu" })<i class="icon-credit-card icoon-sizetres box"></i></li>
                    <li class="li_submenu">@Html.ActionLink("Usuarios", "Index", "Usuarios", null, new { @class = "linkmenu" })<i class="icon-stats-bars icoon-sizetres box"></i></li>
                </ul>
                <!--Fin Empleado  icon-cogs   icon-circle-left-->
                <!-- Reporte -->
                <li class="li-menu" id="animationhoverocho">
                    <i class="icon-stats-bars icoon-size" id="openwindowsocho"></i>
                    <span class="liunohoverocho" id="liunohoverocho">Reportes</span>
                </li>

                <ul class="submenuocho cerrar" id="submenuocho" style="z-index:-10">
                    <div class="return">
                        <div class="return-ico" id="closewindowocho"><i class="icon-circle-up icoon-sizedos"></i></div>
                    </div>
                    <li class="li_submenu">@Html.ActionLink("Reporte 1", "Index", "Ejemplo", null, new { @class = "linkmenu" })<i class="icon-credit-card icoon-sizetres box"></i></li>
                    <li class="li_submenu">@Html.ActionLink("Reporte 2", "Index", "Ejemplo", null, new { @class = "linkmenu" })<i class="icon-stats-bars icoon-sizetres box"></i></li>
                    <li class="li_submenu">@Html.ActionLink("Reporte 3", "Index", "Ejemplo", null, new { @class = "linkmenu" })<i class="icon-stats-bars icoon-sizetres box"></i></li>
                </ul>
                <!-- Fin Reporte -->
                <!-- Configuracion -->
                <li class="li-menu" id="animationhovernueve" style="position:absolute; bottom:10px">
                    <i class="icon-cogs icoon-size" id="openwindowsnueve"></i>
                    <span class="liunohovernueve" id="liunohovernueve">Configuracion</span>
                </li>

                <ul class="submenunueve cerrar" id="submenunueve" style="z-index:-10">
                    <div class="return">
                        <div class="return-ico" id="closewindownueve"><i class="icon-circle-up icoon-sizedos"></i></div>
                    </div>
                    <li class="li_submenu">@Html.ActionLink("Configuracion 1", "Index", "Ejemplo", null, new { @class = "linkmenu" })<i class="icon-credit-card icoon-sizetres box"></i></li>
                    <li class="li_submenu">@Html.ActionLink("Configuracion 2", "Index", "Ejemplo", null, new { @class = "linkmenu" })<i class="icon-stats-bars icoon-sizetres box"></i></li>
                    <li class="li_submenu">@Html.ActionLink("Configuracion 3", "Index", "Ejemplo", null, new { @class = "linkmenu" })<i class="icon-stats-bars icoon-sizetres box"></i></li>
                </ul>
                <!-- Fin Configuracion -->
            </ul>

        </nav>

    </header>
    <div class="container">
        <main>
            @RenderBody()
        </main>
    </div>
    <script src="~/js/main.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)

</body>
</html>
